:root {
  --primary: #224c8d;
}

@media only screen and (min-width: 600px) and (min-width: 768px) and (min-width: 998px) {
  .toolbar {
    grid-template-columns: auto 1fr auto !important;
    grid-template-areas: "logo search tools" !important;
    gap: 1em;
    padding: 1em !important;
    place-items: center;
  }
  .toolbar #tools {
    display: flex !important;
  }
  .toolbar #navToggler {
    display: none !important;
  }
}
.toolbar {
  background-color: var(--primary);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo navToggler" "search search";
  padding-top: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
.toolbar img#logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  grid-auto-flow: logo;
}
.toolbar form#search {
  width: 100%;
  align-items: center;
  display: flex;
  height: 2.5em;
  grid-area: search;
}
.toolbar form#search select,
.toolbar form#search input {
  border: none;
  border-radius: 0;
  height: inherit;
  outline: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.toolbar form#search #catergory {
  border-radius: 100vmax 0 0 100vmax;
  background-color: white;
  font-family: sans-serif;
}
.toolbar form#search #catergory:hover {
  cursor: pointer;
}
.toolbar form#search #search-box {
  width: 100%;
}
.toolbar form#search #search-btn {
  border: none;
  border-radius: 0 100vmax 100vmax 0;
  background-color: white;
  font-family: sans-serif;
  padding: 0 0.5em;
  height: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.toolbar form#search #search-btn svg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: inherit;
  fill: var(--primary);
  padding: 0.5em;
}
.toolbar form#search #search-btn:hover {
  cursor: pointer;
}
.toolbar form#search #search-btn:hover svg:hover {
  fill: cornflowerblue;
}
.toolbar #tools {
  align-items: center;
  display: none;
  gap: 0.5em;
  height: 2.5em;
}
.toolbar #tools #account {
  border: none;
  background-color: transparent;
  color: white;
  display: flex;
  gap: 0.5em;
}
.toolbar #tools #account svg {
  max-width: 25px;
  height: inherit;
}
.toolbar #tools #account label {
  cursor: pointer;
}
.toolbar #tools #account:hover,
.toolbar #tools #cart:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}
.toolbar #tools .btn {
  align-items: center;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: inherit;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 100vmax;
  color: white;
  font-family: sans-serif;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}
.toolbar #navToggler {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: navToggler;
}
.toolbar #navToggler svg {
  width: 2em;
  height: 2em;
}
.toolbar #navToggler:hover {
  cursor: pointer;
  color: cornflowerblue;
}

@media only screen and (min-width: 600px) and (min-width: 768px) and (min-width: 998px) {
  .navbar {
    display: flex;
  }
  .navbar ul#nav {
    align-items: center;
    display: flex !important;
  }
  .navbar ul#nav a {
    padding: 0 !important;
  }
}
.navbar {
  width: 100%;
  align-items: center;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
}
.navbar ul#nav {
  display: none;
  padding: 0;
  margin: 0.5em;
}
.navbar ul#nav li {
  display: block;
  margin-left: 1em;
  margin-right: 1em;
}
.navbar ul#nav a {
  color: white;
  display: block;
  font-family: sans-serif;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  padding: 1em;
}

.pre-loader {
  width: 100%;
  height: 100vh;
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  position: fixed;
}
.pre-loader .loader {
  -webkit-animation: spin 3s ease infinite !important;
          animation: spin 3s ease infinite !important;
  width: 75px;
  height: 75px;
  border: 5px solid transparent;
  border-top-color: var(--primary);
  border-bottom-color: cornflowerblue;
  border-radius: 100vmax;
  display: grid;
  place-items: center;
  position: absolute;
}
.pre-loader .inner__loader {
  animation: spin reverse 3s ease infinite !important;
  width: 50px;
  height: 50px;
  border: 5px;
  border: 5px solid transparent;
  border-left-color: cornflowerblue;
  border-right-color: var(--primary);
  border-radius: 100vmax;
  position: absolute;
}
.pre-loader .dot {
  width: 30px;
  height: 30px;
  border: 5px;
  background-color: bisque;
  border-radius: 100vmax;
  position: absolute;
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.pre-loader label {
  color: var(--primary);
  margin-top: 4.5em !important;
  font-family: sans-serif;
  font-size: 25px;
  font-variant: small-caps;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.main {
  min-height: 100vh !important;
}

.display {
  display: block;
  font-family: sans-serif;
  font-weight: 100;
  font-size: clamp(1em, 10vw, 2em);
}

.hero {
  display: block;
}
.hero .hero__container {
  display: block;
  max-height: 400px;
}
.hero .hero__container .heroSlider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  padding: 2em;
  place-items: center;
  height: 400px;
}
@media only screen and (min-width: 600px) and (min-width: 768px) and (min-width: 998px) {
  .hero .hero__container .heroSlider div.item {
    display: flex !important;
  }
}
.hero .hero__container .heroSlider div.item {
  display: none;
  width: 300px;
  height: 100%;
  align-items: center;
  color: black;
  flex-direction: column;
  justify-content: space-evenly;
}
.hero .hero__container .heroSlider span {
  display: block;
}
.hero .hero__container .heroSlider span h1 {
  color: black;
  display: block;
  font-size: clamp(1em, 10vw, 3em);
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.hero .hero__container .heroSlider img {
  width: initial;
  max-height: 70%;
}
.hero .hero__container .heroSlider a,
.hero .hero__container .heroSlider label {
  color: black;
  display: block;
  font-family: sans-serif;
  font-size: 1.1em;
  text-decoration: none;
}
.hero .hero__container .heroSlider label:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.1em;
}
.hero .hero__container div#item-1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex !important;
  margin: auto;
  justify-content: space-around;
  place-items: start;
}
.hero .hero__container div#item-1 a#btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  padding: 0.4em 1em;
}
.hero .hero__container div#item-1 a#btn:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 5px 5px 0.1em;
}
.hero div#slide-1 {
  background-color: bisque;
}
.hero div#slide-2 {
  background-color: coral;
}

section.qualities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  font-size: clamp(0.6em, 5vw, 1em);
  font-family: sans-serif;
  gap: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0;
  padding-bottom: 0;
  place-items: center;
}
section.qualities div.quality {
  width: 100%;
  align-items: center;
  background-color: cornflowerblue;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

section.popular-products {
  display: block;
  padding-left: 2em;
  padding-right: 2em;
}
section.popular-products div.popular {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}/*# sourceMappingURL=style.css.map */