@media only screen and (min-width: 600px) and (min-width: 768px) and (min-width: 998px) {
    .toolbar {
        grid-template-columns: auto 1fr auto !important;
        grid-template-areas:
            "logo search tools" !important;
        gap: 1em;
        padding: 1em !important;
        place-items: center;


        #tools {
            display: flex !important;
        }

        #navToggler {
            display: none !important;
        }
    }
}

.toolbar {
    background-color: var(--primary);
    display: grid;
    grid-area: toolbar;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "logo navToggler"
        "search search"
    ;
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

    img#logo {
        width: fit-content;
        display: block;
        grid-auto-flow: logo;
    }

    form#search {
        width: 100%;
        align-items: center;
        display: flex;
        height: 2.5em;
        grid-area: search;

        select,
        input {
            border: none;
            border-radius: 0;
            height: inherit;
            outline: none;
            padding-left: .5em;
            padding-right: .5em;
        }

        #catergory {
            border-radius: 100vmax 0 0 100vmax;
            background-color: white;
            font-family: sans-serif;
        }

        #catergory:hover {
            cursor: pointer;
        }

        #search-box {
            width: 100%;
        }

        #search-btn {
            border: none;
            border-radius: 0 100vmax 100vmax 0;
            background-color: white;
            font-family: sans-serif;
            padding: 0 .5em;
            height: inherit;
            width: fit-content;

            svg {
                width: fit-content;
                height: inherit;
                fill: var(--primary);
                padding: .5em;
            }
        }

        #search-btn:hover {
            cursor: pointer;

            svg:hover {
                fill: cornflowerblue;
            }
        }
    }

    #tools {
        align-items: center;
        display: none;
        gap: .5em;
        height: 2.5em;

        #account {
            border: none;
            background-color: transparent;
            color: white;
            display: flex;
            gap: .5em;

            svg {
                max-width: 25px;
                height: inherit;
            }

            label {
                cursor: pointer;
            }
        }

        #account:hover,
        #cart:hover {
            background-color: white;
            cursor: pointer;
            color: black;
        }

        .btn {
            align-items: center;
            display: flex;
            width: fit-content;
            height: inherit;
            background-color: transparent;
            border: 2px solid white;
            border-radius: 100vmax;
            color: white;
            font-family: sans-serif;
            padding-left: 1em;
            padding-right: 1em;
            text-decoration: none;
        }


    }

    #navToggler {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: navToggler;

        svg {
            width: 2em;
            height: 2em;
        }
    }

    #navToggler:hover {
        cursor: pointer;
        color: cornflowerblue;
    }
}

@media only screen and (min-width: 600px) and (min-width: 768px) and (min-width: 998px) {
    .navbar {
        display: flex !important;

        ul#nav {
            width: auto !important;
            align-items: center;
            display: flex !important;
            flex-direction: row !important;
            margin: .5em !important;

            a {
                padding: 0 !important;
                margin-left: 1em !important;
                margin-right: 1em !important;
            }

            a:hover {
                background-color: transparent !important;
                text-underline-offset: none !important;
                text-decoration-thickness: none !important;
                transform: none !important;
                transition: none !important;
            }

        }
    }
}

.active {
    display: flex !important;
    flex-direction: column !important;
    position: absolute;
}

.navbar {
    width: 100%;
    align-items: center;
    background-color: cornflowerblue;
    display: none;
    justify-content: center;
    grid-area: navbar;

    ul#nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            list-style-type: none;
            display: block;
        }

        li:hover {
            border-top: .5px solid white;
            border-bottom: .5px solid white;
        }

        a {
            color: white;
            display: flex;
            font-family: sans-serif;
            width: max-content;
            text-decoration: none;
            padding: 1em;
            width: 100%;
            margin: auto;
            justify-content: center;
        }

        a:hover {
            background-color: #224c8d;
            text-decoration: underline;
            text-underline-offset: .2em;
            text-decoration-thickness: .1em;
            font-size: 1.15em;
            transition: ease .5s;
        }
    }
}