.toolbar {
    background-color: var(--primary);
    display: grid;
    gap: 1em;
    grid-template-columns: auto 2fr auto;
    place-items: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;

    form {
        width: 100%;
        align-items: center;
        display: flex;
        height: 2.5em;

        select,
        input {
            border: none;
            border-radius: 0;
            height: inherit;
            outline: none;
            padding-left: .5em;
            padding-right: .5em;
        }

        #catergory {
            border-radius: 100vmax 0 0 100vmax;
            background-color: white;
            font-family: sans-serif;
        }

        #catergory:hover {
            cursor: pointer;
        }

        #search-box {
            width: 100%;
        }

        #search-btn {
            border: none;
            border-radius: 0 100vmax 100vmax 0;
            background-color: white;
            font-family: sans-serif;
            padding: 0 .5em;
            height: inherit;
            width: fit-content;

            svg {
                width: fit-content;
                height: inherit;
                fill: var(--primary);
                padding: .5em;
            }
        }

        #search-btn:hover {
            cursor: pointer;

            svg:hover {
                fill: cornflowerblue;
            }
        }
    }

    .tools {
        align-items: center;
        display: flex;
        gap: .5em;
        height: 2.5em;


        #account {
            border: none;
            background-color: transparent;
            color: white;
            display: flex;
            gap: .5em;

            svg {
                max-width: 25px;
                height: inherit;
            }

            label {
                cursor: pointer;
            }
        }

        #account:hover,
        #cart:hover {
            background-color: white;
            cursor: pointer;
            color: black;
        }

        .btn {
            align-items: center;
            display: flex;
            width: fit-content;
            height: inherit;
            background-color: transparent;
            border: 2px solid white;
            border-radius: 100vmax;
            color: white;
            font-family: sans-serif;
            padding-left: 1em;
            padding-right: 1em;
            text-decoration: none;
        }


    }
}

.navbar {
    width: 100%;
    align-items: center;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;

    ul#nav {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: .5em;

        li {
            display: block;
            margin-left: 1em;
            margin-right: 1em;
        }

        a {
            color: white;
            display: block;
            font-family: sans-serif;
            width: max-content;
            text-decoration: none;
        }
    }
}